google-api-core==2.30.3
grpcio-health-checking==1.80.0
grpcio==1.80.0
jinja2==3.1.6
python-json-logger==4.1.0
google-cloud-trace==1.19.0
requests==2.33.1
opentelemetry-distro==0.62b0
opentelemetry-instrumentation-grpc==0.62b0
opentelemetry-exporter-otlp-proto-grpc==1.41.0
